:root {
  --color1: #ffe4e9;
  --color2:#ff9b9b;
  --color3: #f95f5f;
  --color4: #545454;
  --font-family: "Krub", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--color1);
}

*, *::before, *::after {
  box-sizing: border-box;
}

.titulo {
  text-align: center;
  color: var(--color3);
}

/* Navbar */

.navbar {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  width: 100%;
  box-shadow: var(--color4) 0px 0px 10px;
  margin-bottom: 1rem;
}

.nav-links {
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 100%;
}

.logo {
  height: 4rem;
  width: auto;
  margin-right: 0; 
  margin-bottom: 1rem; 
}

.menu {
  width: 100%; 
  text-align: center;
  margin-bottom: 0.5rem; 
  border: none;
  background-color: var(--color1);
  text-decoration: none;
  color: var(--color4);
}

.menu a {
  display: block; 
  color: var(--color3);
  text-decoration: none;
  font-weight: bold;
  padding: 0.8rem 1rem; 
  border-radius: 5rem;
}

.menu a:hover {
  display: flex;
  justify-content: center;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: var(--color2);
  color: var(--color1);
  text-decoration: none;
  border: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navbar {
    flex-direction: row; 
    justify-content: space-between; 
    padding: 0 1rem;
  }

  .nav-links {
    flex-direction: row; 
    justify-content: flex-end;
    width: auto;
  }

  .logo {
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .menu a {
  color: var(--color3);
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
}
  .menu a:hover {
    display: flex;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color: var(--color2);
    color: var(--color1);
    text-decoration: none;
    border: none;
  }
}

@media (min-width: 1024px) {
  .navbar {
    flex-direction: row;
    justify-content: space-evenly; 
  }

  .nav-links {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .logo {
    margin-right: 4rem;
    margin-bottom: 0;
  }

  .menu {
    width: auto;
    
  }

.menu a {
  color: var(--color3);
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

  .menu a:hover {
    transform: scale(1.2);
    display: flex;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color: var(--color2);
    color: var(--color1);
    text-decoration: none;
    border: none;
    transform: scale(1.2);
  }
}


/* Footer */
.footer {
  padding: 0.5rem;
  text-align: center;
  font-size: 0.5rem;
  color: var(--color4);
}


